<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:fmt="http://www.thymeleaf.org/extras/thymeleaf-extras-java8time">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <style type="text/css">
        li {list-style: none; display:inline; padding: 6px;}
    </style>
    <title>게시판</title>
</head>
<body>
<div class="container">
    <header>
        <h1>게시판</h1>
    </header>
    <hr/>

    <div>
        <ul>
        <li><a th:href="@{/board/list}">목록</a></li>
        <li><a th:href="@{/board/writeView}">글 작성</a></li>
        <th:block th:if="${session.member == null}">
            <li><a th:href="@{/}">로그인</a></li>
        </th:block>
        <th:block th:if="${session.member != null}">
            <li><a th:href="@{/}">회원 정보</a></li>
            <li><a th:href="@{/member/logout}">로그 아웃</a></li>
            <p th:text="${session.member.ID}+'님 안녕하세요.'"></p>
        </th:block>
        </ul>
    </div>
    <hr/>

    <section id="container">
        <form id="readForm" th:action="@{/board/readView}" method="post">
            <input type="hidden" id="BoardNumber" name="BoardNumber" th:value="${read.BoardNumber}"/>
            <input type="hidden" id="page" th:id="page" th:name="page" th:value="${scri.page}">
            <input type="hidden" id="perPageNum" th:id="perPageNum" th:name="perPageNum" th:value="${scri.perPageNum}">
            <input type="hidden" id="searchType" th:id="searchType" th:name="searchType" th:value="${scri.searchType}">
            <input type="hidden" id="keyword" th:id="keyword" th:name="keyword" th:value="${scri.keyword}">
        </form>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">제목</label>
            <input type="text" id="title" name="title" class="form-control" th:value="${read.title}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-2 control-label">내용</label>
            <textarea id="content" name="content" class="form-control" readonly="readonly" th:text="${read.content}"></textarea>
        </div>
        <div class="form-group">
            <label for="writer" class="col-sm-2 control-label">작성자</label>
            <input type="text" id="writer" name="writer" class="form-control" th:value="${read.writer}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label for="register" class="col-sm-2 control-label">작성날짜</label>
            <input type="text" id="register" name="register" class="form-control" th:value="${read.register}" readonly="readonly"/>
        </div>

        <div>
            <th:block th:if="${session.member != null} and ${session.member.ID == read.writer}">
                <button type="button" class="update_btn btn btn-warning">수정</button>
                <button type="button" class="delete_btn btn btn-danger">삭제</button>
            </th:block>
            <button type="button" class="list_btn btn btn-primary">목록</button>
        </div>

        <!-- 댓글 -->
        <div id="comment">
            <ol class="commentList">
                <li th:each="commentList : ${commentList}">
                    <p>
                        작성자 : <span th:text="${commentList.writer}"></span><br/>
                        작성 날짜 : <span th:text="${commentList.register}"></span>
                    </p>
                    <p th:text="${commentList.content}"></p>
                    <div>
                        <th:block
                                th:if="${session.member != null} and ${session.member.ID == commentList.writer}">
                            <button type="button" class="replyUpdateBtn btn btn-warning"
                                    th:attr="data-commentNumber=${commentList.commentNumber}">수정
                            </button>
                        </th:block>
                        <th:block
                                th:if="${session.member != null} and (${session.member.ID == commentList.writer} or ${session.member.ID == read.writer})">
                            <button type="button" class="replyDeleteBtn btn btn-danger"
                                    th:attr="data-commentNumber=${commentList.commentNumber}">삭제
                            </button>
                        </th:block>
                    </div>
                </li>
            </ol>
        </div>

        <th:block th:if="${session.member != null}">
            <form th:object="${replyForm}" method="post" class="form-horizontal" th:name="replyForm">
                <input type="hidden" th:id="BoardNumber" th:name="BoardNumber" th:value="${read?.BoardNumber}"/>
                <input type="hidden" th:id="page" th:name="page" th:value="${scri.page}"/>
                <input type="hidden" th:id="perPageNum" th:name="perPageNum" th:value="${scri.perPageNum}"/>
                <input type="hidden" th:id="searchType" th:name="searchType" th:value="${scri.searchType}"/>
                <input type="hidden" th:id="keyword" th:name="keyword" th:value="${scri.keyword}"/>
                <input type="hidden" th:id="register" th:name="register"
                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                <div class="form-group">
                    <label for="writer" class="col-sm-2 control-label">댓글 작성자</label>
                    <div class="col-sm-10">
                    <input type="text" th:id="writer" th:name="writer" th:value="${session.member.ID}" class="form-control" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">댓글 내용</label>
                    <div class="col-sm-10">
                    <input type="text" th:id="content" th:name="content" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="replyWriteBtn btn btn-success">작성</button>
                    </div>
                </div>
            </form>
        </th:block>
    </section>
    <hr/>
</div>

<script th:inline="javascript">
    $(document).ready(function () {
        var formObj = $("form#readForm");

        $(".update_btn").on("click", function () {
            formObj.attr("action", "/board/updateView");
            formObj.attr("method", "get");
            formObj.submit();
        })

        $(".delete_btn").on("click", function () {
            var deleteConfirm = confirm("삭제하시겠습니까?");
            if (deleteConfirm) {
                formObj.attr("action", "/board/delete");
                formObj.attr("method", "post");
                formObj.submit();
            }
        })

        $(".list_btn").on("click", function () {
            var page = /*[[${scri.page}]]*/ '';
            var perPageNum = /*[[${scri.perPageNum}]]*/ '';
            var searchType = /*[[${scri.searchType}]]*/ '';
            var keyword = /*[[${scri.keyword}]]*/ '';

            var url = "/board/list?page=" + page +
                "&perPageNum=" + perPageNum +
                "&searchType=" + searchType +
                "&keyword=" + keyword;

            location.href = url;
        })

        $(".replyWriteBtn").on("click", function () {
            var formObj = $("form[name='replyForm']");
            formObj.attr("action", "/board/replyWrite");
            formObj.attr("method", "post");
            formObj.submit();
        });

        $(".replyUpdateBtn").on("click", function () {
            console.log("replyUpdateBtn click");

            var BoardNumber = /*[[${read.BoardNumber}]]*/ '';
            var page = /*[[${scri.page}]]*/ '';
            var perPageNum = /*[[${scri.perPageNum}]]*/ '';
            var searchType = /*[[${scri.searchType}]]*/ '';
            var keyword = /*[[${scri.keyword}]]*/ '';
            var commentNumber = $(this).attr("data-commentNumber");

            var url = "/board/replyUpdateView?BoardNumber=" + BoardNumber +
                "&page=" + page +
                "&perPageNum=" + perPageNum +
                "&searchType=" + searchType +
                "&keyword=" + keyword +
                "&commentNumber=" + commentNumber;

            location.href = url;
        });


        $(".replyDeleteBtn").on("click", function () {
            var BoardNumber = /*[[${read.BoardNumber}]]*/ '';
            var page = /*[[${scri.page}]]*/ '';
            var perPageNum = /*[[${scri.perPageNum}]]*/ '';
            var searchType = /*[[${scri.searchType}]]*/ '';
            var keyword = /*[[${scri.keyword}]]*/ '';
            var commentNumber = $(this).attr("data-commentNumber");

            var url = "/board/replyDeleteView?BoardNumber=" + BoardNumber +
                "&page=" + page +
                "&perPageNum=" + perPageNum +
                "&searchType=" + searchType +
                "&keyword=" + keyword +
                "&commentNumber=" + commentNumber;

            location.href = url;
        });
    })
</script>

</body>
</html>
