<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<div id="root">
    <header>
        <h1>게시판</h1>
    </header>
    <hr/>
    <div>
        <a th:href="@{/board/list}">목록</a>
        <a th:href="@{/board/writeView}">글 작성</a>
        <a th:href="@{/}">회원 정보</a>
        <a th:href="@{/member/logout}">로그 아웃</a>
        <p th:text="${session.member.ID}+'님 안녕하세요.'"></p>
    </div>
    <hr/>
    <section id="container">
        <form name="updateForm" role="form" method="post" action="/board/replyUpdate">
            <input type="hidden" id="BoardNumber" name="BoardNumber" th:value="${commentUpdate.BoardNumber}"
                   readonly="readonly"/>
            <input type="hidden" id="commentNumber" name="commentNumber" th:value="${commentUpdate.commentNumber}"/>
            <input type="hidden" id="page" name="page" th:value="${scri.page}">
            <input type="hidden" id="perPageNum" name="perPageNum" th:value="${scri.perPageNum}">
            <input type="hidden" id="searchType" name="searchType" th:value="${scri.searchType}">
            <input type="hidden" id="keyword" name="keyword" th:value="${scri.keyword}">
            <table>
                <tbody>
                <tr>
                    <td>
                        <label for="content">댓글 내용</label><input type="text" id="content" name="content"
                                                                 th:value="${commentUpdate.content}"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button type="submit" class="update_btn">저장</button>
                <button type="button" class="cancel_btn"
                        th:onclick="|window.location.href='@{/board/readView(BoardNumber=${commentUpdate.BoardNumber},page=${scri.page},perPageNum=${scri.perPageNum},searchType=${scri.searchType},keyword=${scri.keyword})}'|">
                    취소
                </button>
            </div>
        </form>
    </section>
    <hr/>
</div>
</body>
</html>