<!--
/** replyUpdateView.html */
/*
 * Programmed by 최민규
 * 댓글 수정에 관한 html 파일이다.
 * Date : 2023.12.02.
 * Last Update : 2023.12.02.
 * Major update content : code 최초 작성 by 최민규
 * Last Update : 2023.12.03.
 * Major update content : 댓글 작성자만 댓글 수정을 할 수 있도록 수정 by 서보혁
 * Last Update : 2023.12.05.
 * Major update content : 부트 스트랩 및 css 적용 by 서보혁
 */
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/Header.css">
    <link rel="stylesheet" href="/css/Grid.css">
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<div id="grid">
    <div></div>
    <div id="root">
        <header style="margin-top: 20px;">
            <a id="CommunityTitle" href="/board/list">게시판</a><br/>
        </header>
        <hr/>
        <ul id="buttonList">
            <li><a style="float:left" class="list" th:href="@{/board/list}">목록</a></li>
            <li><a style="float:left" class="list" th:href="@{/board/writeView}">글 작성</a></li>
            <th:block th:if="${session.member == null}">
                <li><a style="float:right" class="list" th:href="@{/}">로그인</a></li>
                <p style="padding: 5px; margin: 0;"></p>
            </th:block>
            <th:block th:if="${session.member != null}">
                <li><a style="float:right" class="list" th:href="@{/}">회원 정보</a></li>
                <li><a style="float:right" class="list" th:href="@{/member/logout}">로그 아웃</a></li>
                <div style="float:right">
                    <p style="padding: 5px; color: #000000; font-weight: bold;  margin: 0;"
                       th:text="${session.member.ID}+'님 안녕하세요.'"></p>
                </div>
            </th:block>
        </ul>
        <hr style="clear:both;">
        <section id="container">
            <form name="updateForm" role="form" method="post" action="/board/replyUpdate">
                <input type="hidden" id="BoardNumber" name="BoardNumber" th:value="${commentUpdate.BoardNumber}"
                       readonly="readonly"/>
                <input type="hidden" id="commentNumber" name="commentNumber" th:value="${commentUpdate.commentNumber}"/>
                <input type="hidden" id="page" name="page" th:value="${scri.page}">
                <input type="hidden" id="perPageNum" name="perPageNum" th:value="${scri.perPageNum}">
                <input type="hidden" id="searchType" name="searchType" th:value="${scri.searchType}">
                <input type="hidden" id="keyword" name="keyword" th:value="${scri.keyword}">
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">댓글 내용</label>
                    <input type="text" id="content" name="content" class="form-control"
                           th:value="${commentUpdate.content}"/>
                </div>
                <div>
                    <button type="submit" class="update_btn btn btn-success">저장</button>
                    <button type="button" class="cancel_btn btn btn-danger"
                            th:onclick="|window.location.href='@{/board/readView(BoardNumber=${commentUpdate.BoardNumber},page=${scri.page},perPageNum=${scri.perPageNum},searchType=${scri.searchType},keyword=${scri.keyword})}'|">
                        취소
                    </button>
                </div>
            </form>
        </section>
        <hr/>
    </div>
    <div></div>
</div>
</body>
</html>