<!--
/** memberDeleteView.html */
/*
 * Programmed by 서보혁
 * 회원 정보 삭제 페이지에 관한 html 파일이다.
 * Date : 2023.12.01.
 * Last Update : 2023.12.01.
 * Major update content : code 최초 작성 by 서보혁
 */
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/Header.css">
    <title>회원탈퇴</title>
</head>
<script type="text/javascript">
    $(document).ready(function () {
        // 취소
        $(".cancel").on("click", function () {
            location.href = "/";
        })

        $("#submit").on("click", function () {
            if ($("#Password").val() == "") {
                alert("비밀번호를 입력해주세요.");
                $("#Password").focus();
                return false;
            }

            $.ajax({
                url: "/member/userChk",
                type: "POST",
                dataType: "json",
                async: false,
                data: $("#delForm").serializeArray(),
                success: function (data) {
                    if (data === 0) {
                        alert("패스워드가 틀렸습니다.");
                    } else {
                        if (confirm("회원 탈퇴 하시겠습니까?")) {
                            $.ajax({
                                url: "/member/memberDelete",
                                type: "POST",
                                dataType: "json",
                                data: $("#delForm").serializeArray()
                            })
                            document.location.href = "/";
                        }
                    }
                }
            })
        })
    });
</script>
<body>
<header style="margin-top: 20px;">
    <a id="CommunityTitle" href="/board/list">게시판</a><br/>
</header>
<hr/>
<section id="container">
    <form id="delForm" action="/member/memberDelete" method="post">
        <div class="form-group has-feedback">
            <label class="control-label" for="ID">아이디</label>
            <input class="form-control" type="text" id="ID" name="ID" th:value="${session.member.ID}"
                   readonly="readonly"/>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label" for="Password">패스워드</label>
            <input class="form-control" type="password" id="Password" name="Password"/>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label" for="name">성명</label>
            <input class="form-control" type="text" id="name" name="name" th:value="${session.member.name}"
                   readonly="readonly"/>
        </div>
        <div class="form-group has-feedback">
            <label class="control-label" for="telephone">전화 번호</label>
            <input class="form-control" type="text" id="telephone" name="telephone"
                   th:value="${session.member.telephone}" readonly="readonly"/>
        </div>
        <div class="form-group has-feedback">
            <button class="btn btn-success" type="button" id="submit">회원 탈퇴</button>
            <button class="cancel btn btn-danger" type="button">취소</button>
        </div>
    </form>
    <div>
        <th:block th:if="${session.msg == false}">
            <p>비밀번호가 맞지 않습니다.</p>
        </th:block>
    </div>
</section>

</body>

</html>