/** Grid.css */
/*
 * Programmed by 서보혁
 * 페이지 그리드에 관한 것을 정의해놓은 css 파일이다.
 * Date : 2023.12.04.
 * Last Update : 2023.12.04.
 * Major update content : code 최초 작성 by 서보혁
 */
#grid {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 5fr) 1fr;
    grid-gap: 2vw;
}