/** Header.css */
/*
 * Programmed by 서보혁
 * 페이지 헤더 색상과 모양에 관한 것을 정의해놓은 css 파일이다.
 * Date : 2023.12.04.
 * Last Update : 2023.12.04.
 * Major update content : code 최초 작성 by 서보혁
 */
#CommunityTitle {
    /*display: grid;*/
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    padding: 5px;
    /*margin-top:20px;*/
    /*margin-bottom: 20px;*/
    background: linear-gradient(to right, #8ca6ce, #3e1bb8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list {
    padding: 5px;
    margin: 3px;
    color: white;
    background-color : #0d6efd;
    border-radius: 0.25rem;
}

#buttonList > li {
    list-style: none;
    display: inline;
    /*padding: 6px;*/
    position:relative;
}

ul {
    padding-inline-start: 0;
    margin: 0;
    height: 38px;
}

hr {
    margin: 0;
    background: #3e1bb8;
    border: 0;
    height: 1px;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
}