/** login.css */
/*
 * Programmed by 서보혁
 * 페이지 로그인의 색상과 모양에 관한 것을 정의해놓은 css 파일이다.
 * Date : 2023.12.04.
 * Last Update : 2023.12.04.
 * Major update content : code 최초 작성 by 서보혁
 */
* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    background: #ffffff;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loginBox {
    width: 300px;
    text-align: center;
    background-color: #ffffff;
}

.input-form-box {
    border: 0px solid #ff0000;
    display: flex;
    margin-bottom: 5px;
}

.input-form-box>span {
    display: block;
    text-align: left;
    padding-top: 5px;
    min-width: 65px;
}

.button-login-box {
    margin: 10px 0;
}

#inputBox {
    margin: 10px;
}

#inputBox button {
    padding: 3px 5px;
}