<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 태그 규칙을 정의한 DTD 선언 => XML 파일이 어떤 구조와 어떤 element, 어떤 attributes를 가지는지 정의하는 것 -->

<!-- SQL 구문이 존재하는 SQL Mapper 파일 -->
<mapper namespace="com.example.board.mapper.BoardMapper">
    <!-- namespace : Mapper의 전체 경로를 지정 -->
    <!-- Root Element : 여러개의 SQL문을 묶는 용도로 사용 -->
    <!-- SELECT -> <select>, INSERT -> <insert>, UPDATE -> <update>, DELETE -> <delete> -->
    <!-- id : Mapper interface와 XML 파일을 매칭시키기 위해서 interface의 method명과 XML파일의 id를 동일하게 작성  -->
    <!-- resultType : SELECT문 실행 결과를 담을 객체 -->
    <!-- resultMap : SELECT문 실행 결과를 담을 객체를 resultMap으로 지정 -->
    <!-- parameterType : 객체의 프로퍼티값이 SQL문의 입력 파라미터에 지정 -->

    <insert id="write" parameterType="com.example.board.model.Board">
        INSERT INTO boardTb(Title, Content, Writer, Register)
        VALUES (#{title}, #{content}, #{writer}, #{register})
    </insert>

    <!-- include 태그로 동적 쿼리 구성 -->
    <select id="listPage" resultType="com.example.board.model.Board" parameterType="com.example.board.model.SearchCriteria">
        SELECT Tb.BoardNumber, Tb.Title, Tb.Content, Tb.Writer, Tb.Register, Tb.HIT
        FROM (SELECT BoardNumber, Title, Content, Writer, Register, HIT, ROW_NUMBER() OVER (ORDER BY BoardNumber DESC) AS RNUM
              FROM BoardTb
              WHERE 1=1
              <include refid="search" ></include>
              ) AS Tb
        WHERE Tb.RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY Tb.BoardNumber DESC
    </select>

    <!-- 동적 쿼리 -->
    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">AND TITLE LIKE CONCAT('%',#{keyword},'%')</if>
            <if test="searchType == 'c'.toString()">AND CONTENT LIKE CONCAT('%',#{keyword},'%')</if>
            <if test="searchType == 'w'.toString()">AND WRITER LIKE CONCAT('%',#{keyword},'%')</if>
            <if test="searchType == 'tc'.toString()">AND (TITLE LIKE CONCAT('%',#{keyword},'%') or (CONTENT LIKE CONCAT('%',#{keyword},'%'))</if>
        </if>
    </sql>

    <select id="listCount" parameterType="com.example.board.model.SearchCriteria" resultType="int">
        SELECT COUNT(BoardNumber)
        FROM BoardTb
        WHERE 1=1
        <include refid="search"></include>
        AND BoardNumber > 0
    </select>

    <select id="read" parameterType="int" resultType="com.example.board.model.Board">
        SELECT BoardNumber, Title, Content, Writer, Register
        FROM BoardTb
        WHERE BoardNumber = #{BoardNumber}
    </select>

    <update id="update" parameterType="com.example.board.model.Board">
        UPDATE BoardTb
         SET Title = #{title},
             Content = #{content}
        WHERE BoardNumber = #{BoardNumber}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM BoardTb
        WHERE BoardNumber = #{BoardNumber}
    </delete>

    <update id="boardHit" parameterType="int">
        UPDATE BoardTB
        SET HIT = HIT + 1
        WHERE BoardNumber = #{BoardNumber}
    </update>

</mapper>

